@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheHobbyHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/event.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheHobbyHub.styles.css" asp-append-version="true" />


    <script src="https://kit.fontawesome.com/e184443161.js" crossorigin="anonymous"></script> <!-- Link to import Favicons -->
</head>
<body>

    <!-- Header object: Logo | Menu Buttons | Login/Logout | Welcome User | User Icon  -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient-orange border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheHobbyHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Index">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Events</a>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Friends" asp-action="Index">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hobby" asp-action="Index">Hobbies</a>
                        </li> *@
                    </ul>

                    <!-- Login/Logout Display -->
                    <ul class="navbar-nav">
                        @{
                            var fullname = HttpContextAccessor.HttpContext?.Session.GetString("fullname");
                            var userLoggedIn = !string.IsNullOrEmpty(fullname) && fullname != "\"\"";
                        }

                        @if (!userLoggedIn)
                        {
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="Login" class="nav-link text-light">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="Logout" class="nav-link text-light">Logout |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light">Welcome @fullname</a>
                            </li>
                        }

                    </ul>


                    <!-- Favicon -->
                    <a asp-controller="User" asp-action="@(!userLoggedIn ? "Login" : "Details")" asp-route-id="@(!userLoggedIn ? "" : @HttpContextAccessor.HttpContext?.Session.GetString("userId").Trim('"'))" class="nav-link">
                        @if (!userLoggedIn)
                        {
                            <img src="/images/noUserIcon.png" alt="Favicon" width="30" height="30">
                        }
                        else
                        {
                            var userImage = HttpContextAccessor.HttpContext?.Session.GetString("userImage").Trim('"');
                            <img src="~/images/@userImage" alt="Favicon" width="30" height="30">
                        }
                    </a>


                </div>
            </div>
        </nav>
    </header>


    <!-- Main Container -->
    <div class="container full-size">
        <!-- full-size class added: pushes the footer down 700px -->


        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TheHobbyHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        Welcome to TheHobbyHub, your ultimate destination for all things hobbies! Whether you're passionate about outdoor adventures, hitting the gym, or exploring creative pursuits, we've got you covered. Our goal is to inspire and connect hobbyists from all walks of life, providing resources, tips, and a vibrant community to fuel your passion. Join us in embracing the joy of hobbies and discovering new interests along the way!
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="#">Gym</a></li>
                        <li><a href="#">Hiking</a></li>
                        <li><a href="#">Biking</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Trail-Walk</a></li>
                        <li><a href="#">Camping</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2017 All Rights Reserved by
                        <a href="#">TheHobbyHub</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- JavaScript for Image box -->
<script type="text/javascript">
    function off() {
        console.log('Off');
        document.getElementById("overlay").style.display = "none";
    }
    function on(picture) {
        console.log('On');
        document.getElementById("overlay").style.display = "block";
        document.getElementById("output").src = picture;
    }
</script>