@model IEnumerable<TheHobbyHub.BL.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
    @foreach (var item in Model)
    {
        @* <div id="event">
            <h3> name @Html.DisplayFor(modelItem => item.EventName)</h3>
            <img id="EventImage" href="/images/@item.Image" />
            <ul>
                <li> @Html.DisplayFor(modelItem => item.EventHobbies) hobbies</li>
            </ul>
            <p>
                @Html.DisplayFor(modelItem => item.EventAddress.PostalAddress)
                address
                @Html.DisplayFor(modelItem => item.EventAddress.City)
                city
                @Html.DisplayFor(modelItem => item.EventAddress.State)
                state
                @Html.DisplayFor(modelItem => item.EventAddress.Zip)
                zip
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.EventUser.FullName)
                posting user's name
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.EventCompany.CompanyName)
                posting company's name
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <button id="EditButton"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
            <button id="DeleteButton"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
            <hr />
        </div> *@
    }
    <script>
        
    </script>
