@model IEnumerable<TheHobbyHub.BL.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
    @foreach (var item in Model)
    {
        <div id="event">
            <h3> name @Html.DisplayFor(modelItem => item.EventName)</h3>
            <img id="EventImage" href="~/images/@item.ImagePath" />
            <ul>
                <li> @Html.DisplayFor(modelItem => item.EventHobby) </li>
            </ul>
            <p>
                @Html.DisplayFor(modelItem => item.EventPostalAddress)
                
                @Html.DisplayFor(modelItem => item.EventCity),
                
                @Html.DisplayFor(modelItem => item.EventState)
                
                @Html.DisplayFor(modelItem => item.EventZip)
                
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.EventUser)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <button id="EditButton"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
            <button id="DeleteButton"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
            <hr />
        </div>
    }
    <script>
        
    </script>
