@model IEnumerable<TheHobbyHub.BL.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>

              
@foreach (var item in Model) {
    <ul>
        <li>@Html.DisplayNameFor(model => model.HobbyId)</li>
        <li>@Html.DisplayFor(modelItem => item.HobbyId)</li>

        <li>@Html.DisplayNameFor(model => model.Image)</li>
        <li>@Html.DisplayFor(modelItem => item.Image)</li>

        <li>@Html.DisplayNameFor(model => model.AddressId)</li>
        <li>@Html.DisplayFor(modelItem => item.AddressId)</li>

        <li>@Html.DisplayNameFor(model => model.Date)</li>
        <li>@Html.DisplayFor(modelItem => item.Date)</li>

        <li>@Html.DisplayNameFor(model => model.UserId)</li>
        <li>@Html.DisplayFor(modelItem => item.UserId)</li>

        <li>@Html.DisplayNameFor(model => model.CompanyId)</li>
        <li>@Html.DisplayFor(modelItem => item.CompanyId)</li>

        <li>@Html.DisplayNameFor(model => model.Description)</li>
        <li>@Html.DisplayFor(modelItem => item.Description)</li>

        <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
    </ul>
            
                @* @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | 
                 |
                 @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
}
