@model IEnumerable<TheHobbyHub.BL.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


<div class="event-card-list" id="event-card-list">
    @foreach (var item in Model)
    {
        <article class="event-body">
            <a class="event-link" href="@Url.Action("Edit", new { id = item.Id })"> <!-- Change to go see details -->
                <div class='card'>
                    <div class="banner">
                        <img class="banner-img" src="/images/@item.ImagePath">
                    </div>


                    <!--Card 2 bio and author -->
                    <div class="card-body">
                        <p class="blog-h"> @Html.DisplayFor(modelItem => item.EventHobby) </p>

                        <h2 class="blog-title"> @Html.DisplayFor(modelItem => item.EventName) </h2>
                        <p class="blog-description body-content">@Html.DisplayFor(modelItem => item.Description) </p>
                       

                        <div class="card-profile">
                            <img class="pimg" src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt='person'>
                            <div class="card-profile-info">
                                <h3 class="profile-name">@Html.DisplayFor(modelItem => item.EventUser)</h3>
                                <p class="followers">50.5K Followers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>


        </article>
    }
</div>