@model TheHobbyHub.BL.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="profile-banner">
    <img src="~/images/@Model.Image" alt="@Model.UserName" width="100px" height="75px" onclick="on('/images/@Model.Image')" class="imagepropsmall profile-picture" />
</div>

<div>
    <h3>@Html.DisplayFor(model => model.FullName)</h3>
</div>
<div>
    @* <h5>Contact Information</h5> *@
    @{
        string p1 = Model.PhoneNumber.Substring(0, 3);
        string p2 = Model.PhoneNumber.Substring(3, 3);
        string p3 = Model.PhoneNumber.Substring(6, 4);
        Model.PhoneNumber = "(" + p1 + ") " + p2 + "-" + p3;


    }
    <p>@Html.DisplayFor(model => model.Email) | @Html.DisplayFor(model => model.PhoneNumber)</p>

    <div class='card'>
        <div class="banner">
            <img class="banner-img" src="/images/@item.ImagePath">
        </div>
        <div class="card-body">
            <p class="blog-h">@Html.DisplayFor(modelItem => item.EventHobby)</p>

            <h2 class="blog-title">Event Name @Html.DisplayFor(modelItem => item.EventName)</h2>
            <p class="blog-description body-content">@Html.DisplayFor(modelItem => item.Description) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>


            <div class="card-profile">
                <img class="pimg" src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt='person'>
                <div class="card-profile-info">
                    <h3 class="profile-name">@Html.DisplayFor(modelItem => item.EventUser)</h3>
                    <p class="followers">50.5K Followers</p>
                </div>
            </div>
    </div>
</div>
<div class="user-details">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HobbyList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HobbyList)
        </dd>
        
    </dl>
    
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
